.recipe-content-container {
    background: var(--light-bg);
    min-height: 100vh;
    padding: calc(80px + 4%) 5%;
}

.recipe__left {
    width: 60%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.border-bottom-container {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 2rem;
}

.recipe-title-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.recipe-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.recipe-title {
    color: var(--brown);
    font-family: var(--stengazeta-font);
    font-size: clamp(1.2rem, 0.592rem + 3.04vw, 4.2rem);
    margin-top: 0.5rem;
}
.title-label {
    font-family: var(--volante-font);
    font-size: clamp(0.8rem, 0.476rem + 1.62vw, 2.4rem);
}

.info-text {
    color: var(--light-brown);
    font-size: clamp(0.6rem, 0.357rem + 1.22vw, 1.8rem);
}

/* Блоки с ингридиентами и инструкциями */
.topic-title-text {
    color: var(--brown);
    font-size: clamp(1.2rem, 0.835rem + 1.82vw, 3rem);
    margin-bottom: 1rem;
}

.ingredients-container__list {
    columns: 2;
    column-gap: 1rem;
}
.ingredients-item {
    color: var(--light-brown);
    font-size: clamp(0.6rem, 0.397rem + 1.01vw, 1.6rem);
    break-inside: avoid;
    margin-bottom: 1rem;
}

/* Фото */
.recipe__right {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(80px + 3%) 5% 2%;
}

.recipe__right__img-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.recipe__right__img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}