:root {
    /* Цвета */
    --light-bg: #fbf3e2;
    --gray: #484848;
    --brown: #481d16;
    --light-brown: #a25f4f;

    /* Градиенты */

    /* Тени */
    --top-box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.3);
    --right-box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.2);
    --bottom-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);

    /* Радиусы */
    --border-radius: 4px;
    --two-border-radius: 16px;

    /*  Отступы  */
    --section-padding: 10vh 6vw;
    --max-width: 3440px;

    /*  Шрифты  */
    --stengazeta-font: "Stengazeta", "Roboto", sans-serif;
    --volante-font: "volante", "Roboto Light", sans-serif;
}