:root {
    /* Цвета */
    --light-bg: #fbf3e2;
    --gray: #484848;
    --brown: #481d16;
    --light-brown: #a25f4f;
    --red: #bc0301;

    /* Радиусы */
    --border-radius: 4px;
    --two-border-radius: 16px;

    /* Отступы */
    --rectangle-padding: 2rem 4rem;

    --gray-border: 1px solid var(--gray);

    /*  Шрифты  */
    --stengazeta-font: "Stengazeta", "Roboto", sans-serif;
    --volante-font: "volante", "Roboto Light", sans-serif;
}