body {
    overflow-x: hidden;
}

.horizontal-scroll-container-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.horizontal-scroll-container {
    width: fit-content;
    height: 100%;
    display: flex;
}

.spacer {
    width: 100vw;
    height: 100vh;
    background: red;
}