.about-content-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    position: relative;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 80%;
}


.title-container {
    display: flex;
    flex-direction: column;
}
.title-container__first-line {
    display: flex;
    gap: 2em;
}

.title-label {
    height: fit-content;
    color: var(--light-brown);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.label-text {
    text-wrap: nowrap;
    font-family: var(--volante-font);
    font-size: clamp(1.5rem, 1.196rem + 1.52vw, 3rem);
}

.title-first-line, .title-another-lines {
    color: var(--brown);
    font-size: clamp(1.4rem, 0.671rem + 3.65vw, 5rem);
}
.title-first-line {
    white-space: nowrap;
}

.description {
    width: 40%;
    color: var(--light-brown);
    font-size: clamp(1rem, 0.838rem + 0.81vw, 1.8rem);
}

.toc-button-container {
    position: absolute;
    bottom: 4em;
    right: 4em;
}

@media (max-width: 780px) {
    .title-container__first-line {
        flex-direction: column;
        gap: 0.8em;
    }
    .about-text-container {
        width: 100%;
    }
    .description {
        width: 60%;
    }

}

@media (max-width: 480px) {
    .toc-button-container {
        bottom: 3em;
        right: 1.5em;
    }
}