.person-card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.person-card__img-container {
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 2rem 0;
    overflow: hidden;
    width: 50%;
}
.person-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.person-card__content-container {
    width: 50%;
    border: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 4%;
    overflow: hidden;
}

.person-card__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.text-container__title-container {
    display: flex;
    flex-direction: column;
}

.person-card__title {
    color: var(--brown);
    font-family: var(--stengazeta-font);
    font-size: clamp(2rem, 1.19rem + 4.05vw, 6rem);
}
.person-card__role {
    font-family: var(--volante-font);
    color: var(--light-brown);
    font-size: clamp(1.2rem, 0.835rem + 1.82vw, 3rem);
}

.person-card__description {
    font-family: var(--stengazeta-font);
    color: var(--light-brown);
    font-size: clamp(1.2rem, 0.835rem + 1.82vw, 3rem);
    text-wrap: balance;
    word-break: break-word;
}