.recipe-tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--gray-border);
}


.recipe-tile__tags-list {
    border-bottom: var(--gray-border);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.8em 1em;
}
.tag-item {
    border: var(--gray-border);
    color: var(--brown);
    padding: 0.4em 1.2em 0.2em 1.2em;
    font-size: clamp(0.8rem, 0.678rem + 0.61vw, 1.4rem);
    white-space: nowrap;

}

.recipe-tile__img-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.recipe-tile__img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
