/* Общие параметры */
body {
    font-family: var(--stengazeta-font);
    background-color: var(--light-bg);
}


/* Выделение мыши */
::selection {
    background: var(--red);
    color: var(--light-bg);
}

/* Скроллбар */
html {
    scrollbar-gutter: stable;
}
&::-webkit-scrollbar {
    background-color: var(--gray);
    width: 6px;
}
&::-webkit-scrollbar-thumb {
    background-color: var(--light-brown);
    background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
}