/* Общие параметры */
body {
    font-family: var(--stengazeta-font);
    background-color: var(--light-bg);
}


/* Выделение мыши */
::selection {
    background: var(--red);
    color: var(--light-bg);
}